html {
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

body {
    background: url('../img/geometry2.png');
    font-family: 'coda', cursive;
}

.container {
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

 .deck {
    width: 600px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
 }

 .deck .cards{
    width: 125px;
    height: 125px;
    font-size: 0%;
    padding: 2px;
    margin: 10px;
    color: white;
    background: #2e3d49;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
 }

 .deck .cards.open{
    transform: rotateY(0);
    background: #02ccba;
 }

 .deck .cards.show {
     font-size: 33px;
 }

 .deck .cards.match{
    background: #02ccba;
    font-size: 33px;
 }

 /*
 * Styles for the Score Panel
 */
 .score-panel{
    width: 345px;
    text-align: left;

 }

 .score-panel .stars{
    display: inline-flex;
    text-align: left;
    list-style: none;
    margin: 0 5px 0 0;
    padding: 0;

 }

 .score-panel .restart {
    display: inline-flex;
    float: right;
 }